<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kbstar.mapper.Chart2Mapper">

    <select id="getTypeTotal" resultType="chart2">
        SELECT type, COUNT(*) AS total
        FROM recipe_basic
        GROUP BY type
    </select>

</mapper>