<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kbstar.mapper.CustMapper">

    <delete id="delete" parameterType="Integer">
        DELETE
        FROM cust
        WHERE recipepin = #{recipepin}
    </delete>

    <select id="select" parameterType="Integer" resultType="cust">
        SELECT *
        FROM cust
        WHERE custpin = #{custpin}
    </select>

    <select id="selectall" resultType="cust">
        SELECT *
        FROM cust
        ORDER BY custpin ASC
    </select>

    <select id="selectNew" resultType="cust">
        SELECT *
        FROM (SELECT *
              FROM cust
              ORDER BY signdate DESC)
        WHERE ROWNUM = 1
    </select>

</mapper>