<?xml version="1.0" encoding="UTF-8"?>
 <!DOCTYPE mapper
                PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
                "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kbstar.mapper.RecipeMapper">

    <select id="select" parameterType="Integer" resultType="RecipeBasic">
        SELECT * FROM recipe_basic
        WHERE recipepin=#{recipepin}
    </select>

    <select id="selectall" resultType="RecipeBasic">
        SELECT * FROM recipe_basic
        ORDER BY recipepin ASC
    </select>

    <select id="selectNew" resultType="RecipeBasic">
        SELECT *
        FROM (
                 SELECT *
                 FROM recipe_basic
                 ORDER BY recipedate DESC
             )
        WHERE ROWNUM = 1
    </select>

</mapper>